<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  <h4>Profile Information</h4>

  <form method="POST" action="/account?_method=PUT">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{user.email}}">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{user.name}}">
    <label>Gender</label>
    <input type="radio" name="gender" id="male" value="male" {{#ifeq user.gender 'male'}}checked{{/ifeq}}>
    <label for="male">Male</label>
    <input type="radio" name="gender" id="female" value="female" {{#ifeq user.gender 'female'}}checked{{/ifeq}}>
    <label for="female">Female</label>
    <label for="location">Location</label>
    <input type="text" name="location" id="location" value="{{user.location}}">
    <label for="website">Website</label>
    <input type="text" name="website" id="website" value="{{user.website}}">
    <label>Gravatar</label>
    <img src="{{user.gravatar}}" class="gravatar" width="100" height="100">
    <input hidden type="text" name="coordinates" id="coordinates" value="test">
    <br>
    <button type="submit">Update Profile</button>
  </form>

  <script type="text/javascript">
    var autocomplete;
    var latitude = 0;
    var longitude = 0;
    function createDropdown() {
      autocomplete = new google.maps.places.Autocomplete(document.getElementById('location'), {});
      autocomplete.addListener('place_changed', () => {
        var place = autocomplete.getPlace();
        if (place.geometry){
          latitude = place.geometry.location.lat();
          longitude = place.geometry.location.lng();
          document.getElementById('coordinates').value = [latitude, longitude];
          // console.log("coordinates: " + document.getElementById('coordinates').value);
        } else {
          alert("Location not found! Please enter a different one.");
        }
      });
    }
  </script>

  <h4>Change Password</h4>

  <form method="POST" action="/account?_method=PUT">
    <label for="password">New Password</label>
    <input type="password" name="password" id="password">
    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm" id="confirm">
    <br>
    <button type="submit">Change Password</button>
  </form>

  <h4>Linked Accounts</h4>

{{#if user.facebook}}
  <p><a href="/unlink/facebook" class="text-danger">Unlink your Facebook account</a></p>
{{else}}
  <p><a href="/auth/facebook">Link your Facebook account</a></p>
{{/if}}
{{#if user.google}}
  <p><a href="/unlink/google" class="text-danger">Unlink your Google account</a></p>
{{else}}
  <p><a href="/auth/google">Link your Google account</a></p>
{{/if}}

  <h4>Delete Account</h4>

  <!-- THIS NEEDS TO BE FIXED BECAUSE CANCELLING THE CONFIRM BOX STILL DELETES THE ACCOUNT
  -->
  <form method="POST" action="/account?_method=DELETE">
    <p>You can delete your account, but keep in mind this action is irreversible.</p>
    <button type="submit" name="del" onclick="clicked();">Delete my account</button>
  </form>
  <script type="text/javascript">
    function clicked(){
      if (confirm('Are you sure you want to delete your account? This cannot be undone.')) {
        del.submit();
      } else {
          
      }
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places&callback=createDropdown"
async defer></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</div>
